/*
	type pairing 2
	font-family: 'Cormorant Garamond Serif'
	font-family: 'Abril Fatface cursive'
*/

#post-text2 {
    font-size: 300%;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.20em;
}

#post-info2 {
    padding-top: 30px;
    font-family: 'Abril Fatface', cursive;
    color: gray;
}

#post-author2 {
    color: black;
    font-size: 120%;
}

#post-date2 {
    color: gray;
}
